<div class="row m-0">
    <div class="col-12">
        <div class="card mb-3">
            <div class="card-body " [ngClass]="{
          notAvailable: !productObj.isAvailable
        }">

                <div class="row">
                    <div class="col-md-3">

                        <div class="img-container">
                            <img [src]="productObj.image" [alt]="productObj.name" *ngIf="productObj.image ; else noImg">
                            <ng-template #noImg>
                                <p class="noImgText">
                                    No Image
                                </p>
                            </ng-template>
                        </div>
                    </div>
                    <div class="col-md-7">
                        <h2>
                            {{productObj.name}}
                            <small [ngClass]="{
                        'badge-success': productObj.rating >= 4,
                        'badge-warning' : productObj.rating >=3 && productObj.rating < 4,
                        'badge-danger' : productObj.rating < 3
                    }">
                                {{productObj.rating}}
                            </small>
                        </h2>

                        <h4 class="text-muted">
                            Feature
                        </h4>
                        <ul class="list-group list-group-flush">
                            <li *ngFor="let mobile of productObj.features" class="list-group-item">{{mobile}}</li>
                        </ul>
                        <div class="d-flex justify-content-end">
                            <button mat-raised-button class="btn-outline-primary">Buy Now</button>
                            <button mat-raised-button class="btn-outline-warning ml-3">Add To Cart</button>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <h4>
                            {{productObj.price - productObj.price * .15 | currency : "INR"}}
                            <br>
                            <small>
                                <del>
                                    {{productObj.price | currency : "INR"}}
                                </del>
                            </small>
                        </h4>
                        <strong class="text-success" *ngIf="productObj.noOfItems < 10">
                            only {{productObj.noOfItems}} left !!!

                        </strong>
                    </div>
                </div>

            </div>
            <p class="isAvailable" *ngIf="!productObj.isAvailable">
                Product is not available
            </p>
        </div>
    </div>
</div>





