<div class="card movie-card text-white mb-3">
    <div class="card-header">
        <div class="row">
            <div class="col-10">
                <h2>{{movieObj.title || movieObj.original_title}}</h2>
            </div>
            <div class="col-2">
                <h3>
                    <span [ngClass]="{
                'badge-success' : movieObj.vote_average >=7,
                'badge-warning' : movieObj.vote_average >= 5 && movieObj.vote_average < 7,
                'badge-danger' : movieObj.vote_average < 5
            }" class="badge">{{movieObj.vote_average}}</span>
                </h3>
            </div>
        </div>
    </div>
    <div class="card-body">
            <figure>
                <img [src]="movieObj.poster_path" [alt]="movieObj.title" title="movieObj.title">

                <figcaption>
                    <h4 class="m-0">
                        {{movieObj.title}}
                    </h4>
                    <p class="m-0">{{movieObj.overview}}</p>
                </figcaption>
            </figure>
    </div>
    <div class="card-footer d-flex justify-content-between">
        <button mat-raised-button color="primary">Edit</button>
        <button mat-raised-button color="warn">Remove</button>
    </div>
</div>










<!-- 
<div class="card movie-card text-white mb-3">
    <div class="card-header">
        <div class="row">
            <div class="col-10">
                <h2 class="m-0">
                    {{getMovieObj.title || getMovieObj.original_title}}
                </h2>
            </div>
            <div class="col-2">
                <h3 class="m-0">
                    <span class="badge"
                       [ngClass]="{
                        'badge-success': getMovieObj.vote_average >=7,
                        'badge-warning' : getMovieObj.vote_average <= 5 && getMovieObj.vote_average < 7,
                        'badge-danger' : getMovieObj.vote_average < 5
                       }"
                    >{{getMovieObj.vote_average}}</span>
                </h3>
            </div>
        </div>
    </div>
    <div class="card-body">
        <figure>
            <img [src]="getMovieObj.poster_path" [alt]="getMovieObj.title">
            <figcaption>
                <h4 class="m-0">
                    {{getMovieObj.title}}
                </h4>
                <p class="m-0">{{getMovieObj.overview}}</p>
            </figcaption>
        </figure>
    </div>
    <div class="card-footer d-flex justify-content-between">
        <button mat-raised-button color="primary">Edit</button>
        <button mat-raised-button color="warn">remove</button>
    </div>
</div> -->