

<div class="card mb-4">
    <div class="card-header">
        {{cardObj.title}}
    </div>
    <div class="card-body">
        {{cardObj.body}}
    </div>
    <div class="card-footer d-flex justify-content-between">
        <button mat-raised-button color="primary">Edit</button>
        <button mat-raised-button color="warn">Remove</button>
    </div>
</div>


















<!-- 
<div class="card mb-3">
    <div class="card-hrader">
       {{getpostobj.title}}
    </div>
    <div class="card-body">
        {{getpostobj.body}}
    </div>
    <div class="card-footer d-flex justify-content-between">
        <button mat-raised-button color="primary">Edit</button>
        <button mat-raised-button color="warn">Edit</button>
    </div>
</div> -->



