




<!-- <app-post-dashboard></app-post-dashboard> -->

<!-- <app-movie-dashboard></app-movie-dashboard>


<div class="container mt-5">
  <div class="row">
    <div class="col-md-4" *ngFor="let card of postArr">
      <app-card-component [getMsgFromChild2] = "card">

      </app-card-component>
    </div>
  </div>
</div>


<div class="container mt-5">
  <div class="row">
    <div *ngFor="let p of posts2" class="col-md-4">
      <app-child-two [getAllPostData]="p">

      </app-child-two>
    </div>
  </div>
</div> 

<app-post-dashboard></app-post-dashboard> -->

<!-- <app-product-dashboard></app-product-dashboard> -->


<app-post-dashboard></app-post-dashboard>
 <app-movie-dashboard></app-movie-dashboard>
  <app-product-dashboard></app-product-dashboard>